In [2]:
import pandas
import seaborn
from core.dataHandler import DataHandler
from sklearn.preprocessing import OneHotEncoder
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split

In [3]:
#reading data from db
data_handler = DataHandler
engine = data_handler.db_connect(db_url = "mysql+pymysql://root:secret@db:3306/my_db")

%reload_ext sql
%sql mysql+pymysql://root:secret@db:3306/my_db
dataframe = data_handler.get_data_from_db(query="SELECT * FROM TRANSIENT_DATA", con=engine)
dataframe.head(5)

Connected:
 test_table

,t0,t1,t2,t3,t4,t5,t6,t7,t8,t9,...,t191,t192,t193,t194,t195,t196,t197,t198,t199,Classes
0,24.00,24.00,23.00,25.00,24.00,25.00,24.00,24.00,22.00,25.00,...,1.00,-1.00,1.00,-1.00,1.00,0.00,1.00,0.00,0.00,1
1,23.00,23.00,22.00,21.00,21.00,22.00,23.00,23.00,22.00,21.00,...,-1.00,1.00,0.00,1.00,-1.00,0.00,-1.00,1.00,0.00,1
2,-0.55,-0.55,-0.55,3.45,13.45,11.45,18.45,18.45,20.45,20.45,...,-0.55,0.45,-0.55,0.45,-0.55,0.45,-0.55,0.45,-0.55,1
3,12.30,10.30,15.30,15.30,16.30,15.30,17.30,16.30,17.30,15.30,...,-0.70,0.30,-0.70,0.30,-0.70,1.30,-0.70,1.30,-0.70,1
4,24.85,2.85,5.85,-1.15,2.85,-1.15,1.85,-1.15,0.85,-1.15,...,-0.15,0.85,-1.15,-0.15,-1.15,0.85,-0.15,0.85,-0.15,2

In [4]:
# It's a classification problem, so we'll use one-hot encoding to identify the classes.

#creating instance of one-hot-encoder
encoder = OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'team' column 
encoder_df = pandas.DataFrame(encoder.fit_transform(dataframe[['Classes']]).toarray())

encoder_df

      0    1    2    3    4    5    6
0   1.0  0.0  0.0  0.0  0.0  0.0  0.0
1   1.0  0.0  0.0  0.0  0.0  0.0  0.0
2   1.0  0.0  0.0  0.0  0.0  0.0  0.0
3   1.0  0.0  0.0  0.0  0.0  0.0  0.0
4   0.0  1.0  0.0  0.0  0.0  0.0  0.0
..  ...  ...  ...  ...  ...  ...  ...
95  0.0  0.0  0.0  0.0  1.0  0.0  0.0
96  0.0  0.0  0.0  0.0  0.0  1.0  0.0
97  0.0  0.0  0.0  0.0  0.0  1.0  0.0
98  0.0  0.0  0.0  0.0  0.0  0.0  1.0
99  0.0  0.0  0.0  0.0  0.0  0.0  1.0

[100 rows x 7 columns]

In [7]:
categorized_df = dataframe.join(encoder_df)
categorized_df.drop(columns={'Classes'}, inplace=True)
categorized_df.columns = categorized_df.columns.astype('str')
categorized_df.tail(5)

,t0,t1,t2,t3,t4,t5,t6,t7,t8,t9,...,t197,t198,t199,0,1,2,3,4,5,6
95,14.70,4.70,2.70,-0.30,0.70,0.70,2.70,1.70,1.70,0.70,...,-1.30,-1.30,-0.30,0.0,0.0,0.0,0.0,1.0,0.0,0.0
96,11.55,5.55,2.55,1.55,0.55,1.55,0.55,0.55,-0.45,0.55,...,0.55,-0.45,0.55,0.0,0.0,0.0,0.0,0.0,1.0,0.0
97,14.35,4.35,1.35,2.35,-0.65,0.35,0.35,1.35,0.35,0.35,...,0.35,0.35,-0.65,0.0,0.0,0.0,0.0,0.0,1.0,0.0
98,22.70,-5.30,-0.30,-5.30,-1.30,-3.30,-1.30,-3.30,-2.30,-3.30,...,-2.30,0.70,-1.30,0.0,0.0,0.0,0.0,0.0,0.0,1.0
99,-5.30,-6.30,-6.30,-6.30,-5.30,-3.30,-4.30,-6.30,-6.30,-4.30,...,-0.30,-0.30,-0.30,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [14]:
plot_candidate = categorized_df[categorized_df[str(0)]==1].iloc[0]
plot_candidate[:,:'t199']

KeyError: 'key of type tuple not found and not a MultiIndex'

In [8]:
# Plotting each class
for each_class in range(7):
 plot_candidate = categorized_df[categorized_df[str(each_class)]==1]
 data = plot_candidate.iloc[0][:,:'t199']
 seaborn.lineplot(x=list(range(200),y=)

KeyError: 'key of type tuple not found and not a MultiIndex'

In [ ]:
# Preprocessing step
X = categorized_df.loc[:,:'t199']
y = categorized_df.loc[:,'0':'6']
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, train_size=0.8 ,random_state=1)